
.replicasets-container {
	border: 1px solid black;
	box-shadow : 0px 0px 3px #444;
	width : 100px;
	height : 100px;
}


.rs-block , .rs-block-selected {
	background-color: #FFF;
	padding: 1px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius : 10px;
	box-shadow: 0 0 10px #CCC;	
}

.rs-block-header{
	height:70px;
	width : 90%;
	text-align:  center;
	font-size : 34px;
	font-family: 'Quicksand' , sans-serif;
	padding : 5%;
	padding-top: 5%;
	color : #777;	
}

.rs-block-details {
	height : 70px;	
}

#log {
	position : fixed;
	bottom : 0px;
	left : 0px;
	width : 100%;
	border-top: 1px solid black;
	background-color: #444;
	color : #999;
	padding : 5px;
}
